<div class="w-full max-w-7xl mx-auto px-4">
    <h1 class="text-4xl sm:text-6xl lg:7xl mb-6" data-controller="counter"></h1>
    <div data-controller="counter"></div>
    <button class="bg-blue-500 text-white font-semibold rounded-lg px-4 py-2 hover:bg-blue-600" data-controller="counter"></button>
</div>
