<main class="container">
  <%= if flash = get_flash(@conn, :info) do %>
    <p class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg" role="alert" data-turbo-cache="false"><%= flash %></p>
  <% end %>

  <%= if flash = get_flash(@conn, :error) do %>
    <p class="p-4 mb-4 text-sm text-red-700 bg-red-100" role="alert" data-turbo-cache="false"><%= flash %></p>
  <% end %>

  <%= @inner_content %>
</main>
