<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Turbo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} data-turbo-track="reload" />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")} data-turbo-track="reload"></script>
  </head>
  <body>
    <header class="p-5 ">
      <section class="container">
        <nav>
          <ul class="flex space-x-5">
          <li><a href={Routes.task_path(@conn, :index)} class="text-blue-400"> Home</a></li>
            <li><a href={Routes.task_path(@conn, :list)} class="text-blue-400"> All tasks</a></li>
            <li> <a href={Routes.task_path(@conn, :new)} class="text-blue-400"> New task </a></li>
            <li> <a href={Routes.stimulus_path(@conn, :counter)} class="text-blue-400"> Counter </a></li>

          </ul>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
