<turbo-frame id="task-create" class="" src={Routes.task_path(@conn, :new)}>
    <p class="text-blue-500"> Loading ... </p>
</turbo-frame>

<turbo-frame id="task-list" class="mt-5" src={Routes.task_path(@conn, :list)}>
</turbo-frame>
