<%= if is_turbo_frame_request?(@conn) do %>
    <turbo-frame id={turbo_frame_id(@conn)}>
        <%= render("forms/new_task.html", conn: @conn, changeset: @changeset, action: Routes.task_path(@conn, :create)) %>
    </turbo-frame>
<% else %>
    <%= render("forms/new_task.html", conn: @conn, changeset: @changeset, action: Routes.task_path(@conn, :create)) %>
<% end %>
