<%= if is_turbo_frame_request?(@conn) do %>
    <turbo-frame id={turbo_frame_id(@conn)}>
        <%= render("forms/new_task.html", changeset: @changeset, conn: @conn, action: Routes.task_url(@conn, :update, @task)) %>
    </turbo-frame>
<% else %>
    <%= render("forms/new_task.html", changeset: @changeset, conn: @conn, action: Routes.task_url(@conn, :update, @task)) %>
<% end %>
